{
	# https://frankenphp.dev/docs/config/
	frankenphp
	order php_server before file_server
}

localhost {

	# https://caddyserver.com/docs/caddyfile/directives/root  
	root www
	
	# https://caddyserver.com/docs/caddyfile/directives/encode
	encode zstd br gzip
	
	# Execute PHP files in the current directory and serve assets
	php_server

	# https://caddyserver.com/docs/caddyfile/directives/log
	log {
	    	level DEBUG
		output stderr
	}
	
	# https://caddyserver.com/docs/caddyfile/directives/error
	handle_errors {
        	rewrite * /500.php
        }

	# https://caddyserver.com/docs/caddyfile/directives/rewrite
	# https://caddyserver.com/docs/caddyfile/directives/uri

	rewrite /.htaccess		/404.php
	rewrite /.user.ini		/404.php	

	uri path_regexp /about/?$     		/about.php

	uri path_regexp /account/?$		/account.php	
	uri path_regexp /account/password/?$	/account_password.php	
	uri path_regexp /account/delete/?$	/account_delete.php

	uri path_regexp /contact/?$	     	/contact.php
	uri path_regexp /checkcookie/?$     	/checkcookie.php	
	
	uri path_regexp /signup/?$ 		/signup.php
	uri path_regexp /signin/?$ 		/signin.php	
	uri path_regexp /signout/?$ 		/signout.php
}
