<?php

	$GLOBALS['cfg']['db_main'] = array(
		'host'	=> 'localhost',
		'name'	=> '',
		'user'	=> '',
		'pass' => '',
		'auto_connect' => 0,
	);

        $GLOBALS['cfg']['db_api'] = $GLOBALS['cfg']['db_main'];
        $GLOBALS['cfg']['db_accounts'] = $GLOBALS['cfg']['db_main'];
        $GLOBALS['cfg']['db_users'] = $GLOBALS['cfg']['db_main'];
        $GLOBALS['cfg']['db_tickets'] = $GLOBALS['cfg']['db_main'];
        $GLOBALS['cfg']['db_poormans_replicas'] = $GLOBALS['cfg']['db_main'];

	// if using lib_sodium these must be SODIUM_CRYPTO_SECRETBOX_KEYBYTES (32 bytes)

	$GLOBALS['cfg']['crypto_cookie_secret'] = '';
	$GLOBALS['cfg']['crypto_password_secret'] = '';
	$GLOBALS['cfg']['crypto_crumb_secret'] = '';

	// if using lib_sodium this must be SODIUM_CRYPTO_SECRETBOX_NONCEYTES (24 bytes)

	$GLOBALS['cfg']['crypto_libsodium_nonce'] = '';
